<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap & CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">

    <title>Kanban!</title>
  </head>
  <body>
    <div id="app">
      <!-- NAVBAR -->
      <nav class="nav">
        <h1 style="color: antiquewhite;">-Kanban!</h1>
        <h2 style="color: antiquewhite;">notifications/errors</h2>
        <div>
          <a href="#" class="btn btn-primary my-2" id="btn-addTask">Add Task</a>
          <a href="#" class="btn btn-danger m-2" id="btn-logout" v-on:click="logout">Logout</a>
        </div>
      </nav>
      

      <!-- LOGIN PAGE -->
      <div id="loginPage" class="container-fluid" v-if="page == 'login'">
        <div class="loginRow row">
          <div class="loginContent col-4 rounded" style="background-color: aliceblue;">
            <h3>Login</h3>
            <form class="loginForm" action="" v-on:submit.prevent="login">
              <div class="col-3 my-2">
                <input type="text" name="email" placeholder="Email">
              </div>
              <div class="col-3 my-2">
                <input type="password" name="password" placeholder="Password">
              </div>
              <div class="col-3 my-2">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>


      <!-- KANBAN CONTAINER -->
      <div class="container-fluid" v-if="page == 'kanban'">
        <div class="row">

          <!-- BACKLOGS -->
          <div class="col-3 p-3">
            <div class="red px-3 pb-3 pt-1 rounded kanban-category">
              <h3>Backlogs</h3>
              <div class="kanban-cards overflow-auto"> 
                <!-- cards -->
                <div class="card mb-2" v-for="(item, index) in backlogs">
                  <div class="card-body">
                    <h5 class="card-title">{{item.email}}</h5>
                    <p class="card-text">{{item.title}}</p>
                    <div style="text-align: right;">
                      <a href="#" class="btn-sm btn-danger">Delete</a>
                      <a href="#" class="btn-sm btn-success">Next</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ## PRODUCTS -->
          <div class="col-3 p-3">
            <div class="yellow px-3 pb-3 pt-1 rounded kanban-category">
              <h3>Products</h3>
              <div class="kanban-cards overflow-auto"> 
                <!-- cards -->
                <div class="card mb-2" v-for="(item, index) in products" :key="index">
                  <div class="card-body">
                    <h5 class="card-title">{{item.email}}</h5>
                    <p class="card-text">{{item.title}}</p>
                    <div style="text-align: right;">
                      <a href="#" class="btn-sm btn-primary">Back</a>
                      <a href="#" class="btn-sm btn-danger">Delete</a>
                      <a href="#" class="btn-sm btn-success">Next</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- DEVELOPMENTS -->
          <div class="col-3 p-3">
            <div class="blue px-3 pb-3 pt-1 rounded kanban-category">
              <h3>Developments</h3>
              <div class="kanban-cards overflow-auto"> 
                <!-- cards -->
                <div class="card mb-2" v-for="(item, index) in developments" :key="index">
                  <div class="card-body">
                    <h5 class="card-title">{{item.email}}</h5>
                    <p class="card-text">{{item.title}}</p>
                    <div style="text-align: right;">
                      <a href="#" class="btn-sm btn-primary">Back</a>
                      <a href="#" class="btn-sm btn-danger">Delete</a>
                      <a href="#" class="btn-sm btn-success">Next</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- DONE -->
          <div class="col-3 p-3">
            <div class="green px-3 pb-3 pt-1 rounded kanban-category">
              <h3>Done</h3>
              <div class="kanban-cards overflow-auto"> 
                <!-- cards -->
                <div class="card mb-2" v-for="(item, index) in dones" :key="index">
                  <div class="card-body">
                    <h5 class="card-title">{{item.email}}</h5>
                    <p class="card-text">{{item.title}}</p>
                    <div style="text-align: right;">
                      <a href="#" class="btn-sm btn-primary">Back</a>
                      <a href="#" class="btn-sm btn-danger">Delete</a>
                      <a href="#" class="btn-sm btn-success">Next</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- # ENDS OF KANBAN CONTAINER -->






    </div>
    <!-- # ENDS OF APP VUE -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- AUTHORS SCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./script.js"></script>
  </body>
</html>